    <div class="students-container">
        <ul class="students-list">
            {{#each this}}
            <li class="students-item">
                <img class="students-photo" src="{{urlPhoto}}" alt="{{name}}" />
                <div class="students-content">
                    <p class="students-name">{{name}}</p>
                    <p class="students-role">{{role}}</p>
                    <a class="students-linkedin link" href="{{urlLinkedin}}" target="_blank"></a>
                    <a class="students-github link" href="{{urlGithub}}" target="_blank"></a>
                </div>        
            </li>
            {{/each}}
        </ul>
    </div>